   
    <p>This list is the list of articles waiting for approval.</p>
    
    <p>As a moderator you have the ability to choose which article gets posted to the home page.</p>
    
    <% Article.order(created_at: :desc).each do |article| %>
		<% if article.approved == false %>
		
        <p><%= article.heading %><br><br>
		
        <%= article.content %><br><br>
        
        Author: <%= article.author %><br>
        Created: <%= article.created_at %><br>
        <a href ='/editarticle/<%= article.id %>'>Edit this article</a>
        <% end %>
        </p>			
    
        <br>
		
		
		
		<% end %>
    
