
<Sp>These are the Archives for all of the approved articles</p>

	<% Article.order(created_at: :desc).each do |article| %>
	<% if article.approved == true %>
	
	<p><%= article.heading %><br><br>
	
	<%= article.content %><br><br>
	
	Author: <%= article.author %><br>
	Created: <%= article.created_at %><br>
	Approved By: <%= article.approver %><br>
	Approved On: <%= article.edited_at %><br>
	<% end %>
	
	</p>			
	
	<br>
	
	<% end %>
