	
	<p>Welcome to WAD wiki. A free online encyclopedia of knowledge that can be viewed by anyone!</p>
	
	<p>Feel free to search for anything you desire! And if it does not exist then create it!</p>
	
	<p>Use the menu to the left to navigate the site!</p>
	
	<div id="content" style="background-color:#EEEEE;height:340px;width500px;float:left;">
	
		<% 	Article.order(updated_at: :desc).each do |article| %>
			<% if article.approved == true %>
		
			<p><%= article.heading %><br><br>
		
			<%= article.content %><br><br>
			
			Author: <%= article.author %><br>
			Approved On: <%= article.edited_at %><br>
			<a href ='/editarticle/<%= article.id %>'>Edit this article</a>
			<% end %>
			</p>			
		
			<br>
		
		
		<% end %>
	
		<p>Number of words: <%= @words %></p>
	
		<div class="my_image">
		
			<img class="my_image" src="/testimage.png" alt="testimage"/>
		
		</div>
	
	</div>
	
	<div id="content" style="background-color:#EEEEE;height:1000px;width500px;float:left;">
	
	
	</div>
	