
<p><b>User list</b></p><br>

<div class="users"> 
    
    <div class="table_header">
    
        <div class="table_cell">Username</div>
    
        <div class="table_cell">Date Joined</div>
        
        <div class="table_cell">Last Edit</div>
    
        <div class="table_cell">Moderator</div>
        
        <div class="table_cell">Points</div>
        
        <div class="table_cell">Promote</div>
    
        <div class="table_cell">Delete</div>
    
    </div>
    
    <% @list2.each do |liste| %>   
    
        <div class="user">  
    
            <div class="table_cell"><%= liste.username %></div>
    
            <div class="table_cell"><%= liste.created_at %></div>
            
            <div class="table_cell"><%= liste.updated_at %></div>
    
            <div class="table_cell"><%= liste.moderator %></div>
            
            <div class="table_cell"><%= liste.points %></div>
    
            <% if liste.username != "Admin" %>
    
            <form action="/user/<%= liste.username %>" method="post" id="moderator">
    
                <input type="hidden" name="_method" value="put">
    
                <div class="table_cell"><input type="checkbox" name="moderator" <%= "checked" if liste.moderator %>>   
    
                <input type="submit" value="Moderator"></div>
    
            </form> 
    
                <div class="table_cell"><a href="/user/delete/<%= liste.username %>">Delete User?</a></div>
                
            <% end %> 
    
        </div>   
 
    <% end %>

</div>